@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/* Seteos Generales */

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: calc(15px + 0.390625vw);
}

img, iframe{
    max-width: 100%;
    height: auto;
} 

a {
    color: inherit;
    text-decoration: inherit;
  }

  h5{
    font-size: 0.9rem;
}

input,textarea{
    font-size: 0.7rem;
}


p {
    text-align: justify;
    text-justify: inter-word;
}

/**** Seccion Header ****/

.header-container{
    background-color: #051622;
    color:#DEB992;
    font-size: 1rem;
    padding: .2rem .2rem;
    display: flex;
    justify-content:right;
    position: sticky;
    top: 0;
    z-index:300;
}

.container-fluid{
    padding-right: 4rem;
}

.nav-link {
    color:#DEB992;
}

.navbar-nav a:hover {
    color:rgb(244, 154, 93);
}

/**** Seccion HOME ****/

.home-container{
    padding: 10rem 3rem;
    background-color:#DEB992 ;
    color: #051622 ;
}  

.home-text {
    height: 40%;
    font-weight: 300;
    text-align: center;
    letter-spacing: .2em;
    line-height: 2em;
}

.home-text-main{
    font-size: 3rem;
    font-weight:900;
}

.home-text-second{
    overflow: hidden;
    background: linear-gradient(90deg, #000, rgb(244, 154, 93), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s ease-in infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }

    @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }}

.home-text-second1{
    overflow: hidden;
    background: linear-gradient(90deg, #000, rgb(244, 154, 93), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s ease-out infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
        
    @keyframes animate {
        0% {
            background-position: -500%;
        }
        100% {
            background-position: 500%;
        }}

.home-social{
    display: flex;
    justify-content:center;   
    gap: 1rem; 
    transform: scale(0.5, 0.5);
    align-items: center;
    transition: transform .2s; 
}

.social-icons:hover {
  transform: scale(1.2); 
}

.social-icons1:hover {
    opacity: .8;
} 

.home-whatsapp{
    transform: scale(0.8, 0.8);
    position: fixed;
    width:5rem;
	height:5rem;
	bottom:3rem;
	right:3rem; 
}

/**** Estilos de Textos ****/

.hx-heading{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .1em;
    line-height: 1.5em;
}

.h2-heading{
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    line-height: 1.5em;
}

.p-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.p-experience{
    font-size: 0.7rem;
   }


contact-info,.contact-email,.footer-text{
    font-size: 0.8rem;
}


/**** Seccion Phrase ****/

.phrase1-container{
    padding: 1.5rem 5rem;
    background-color:#051622;
    color: #ece3db ;
}

/**** Seccion ABOUT ME ****/

.aboutUs-container {
    padding: 6rem 5rem;
    background-color:#ece3db ;
    color: #051622 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

.about-img{

    padding: 1rem 1rem;
}

.about-text{
    max-width: 30rem;
}

/**** Seccion SKILLS ****/

.skills-container {
    padding: 7rem 5rem;
    background-color:#DEB992 ;
    color: #051622 ;
}

.tech-list{
    font-size: 0.8rem;
    padding-left: 6rem;
    list-style: square;
    line-height: 1.9em;
}

/**** Seccion EXPERIENCE ****/

.experience-container {
    padding: 7rem 5rem;
    background-color:#ece3db ;
    color: #051622 ;
}

.experience-boxes{
    padding-top: 2rem;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */

}

.experience-box{
    text-align: center;
    width:14rem;
    border-style:solid;
    border-width: 2px;
    border-color: #DEB992;
    padding: 0.7rem;
}

.carousel-dimension{
    width:70%;
    margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev,.carousel-caption{
    filter: invert(100%);
}

/**** Seccion PORTFOLIO ****/

.portfolio-container {
    padding: 7rem 5rem;
    background-color:#DEB992 ;
    color: #051622 ;
}

.portofolio-images{
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-img{
    padding: 0.4rem 0.4rem;
    position: relative;
    width: auto;
  }
  
.image {
    display: block;
    width: auto;
    height: auto;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color:#051622;
  }
  
  .portfolio-img:hover .overlay {
    opacity: 0.9;
  }
  
  .text {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


/**** Seccion CONTACT US ****/

.contactUs-container {
    padding: 7rem 5rem;
    background-color:#ece3db ;
    color: #051622 ;
}

.contactUs-nav{
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactUS-address{
    padding: 1rem;
    line-height: 1em;
}

.form-container {
    border-style:solid;
    border-width: 1px;
    border-color: #DEB992;
    padding: 0.4rem;

}

.form-details{
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.form-input{
    width: 17rem;
    height: 1.8rem;
}

.form-input1{
    width: 17rem;
    height: 10rem;
}

.contactUs-gmap{
    padding: 0.7rem;
}
  
/**** Seccion FOOTER *****/

.footer-container{
    padding: 0.4rem;
    background-color:#dea363;
    display: flex;
    justify-content:left;
    align-items: center;
}

.footer-social{
    width: 80%;
    transform: scale(0.6, 0.6);
    display: flex;
    justify-content:center;    
    align-items:flex-end;
    gap: 2rem; 
}

.footer-text{
    width:20%;
    color: black;
    text-align: left;
}

.footer-text-end{
    font-size: 0.5rem;
}

/**** Media Querys Mobile****/

@media screen and (max-width:500px) {
    .experience-boxes,.portofolio-images{
        display: none;
    }

    .phrase1-container{
        padding: 1rem 2rem;
    }
    
    .aboutUs-container {
        padding: 3rem 2rem; 
    }
    
    .skills-container {
        padding: 3rem 2rem;
    }
    
    .experience-container {
        padding: 3rem 2rem;    
    }
    
    .portfolio-container {
        padding: 3rem 2rem;
    }
    
    .contactUs-container {
        padding: 3rem 2rem;
    }
}


@media screen and (min-width:501px) {
    .carousel-container,.carousel{
        display: none;
    }
}

